@import 'reset';

@font-face {
  font-family:"Bianco Sans Regular";
  src:url("../webfont/BiancoSans-Regular.woff2") format("woff2"),url("../webfont/BiancoSans-Regular.woff") format("woff"),url("../webfont/BiancoSans-Regular.otf") format("opentype");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:"Bianco Sans Bold";
  src:url("../webfont/BiancoSans-Bold.woff2") format("woff2"),url("../webfont/BiancoSans-Bold.woff") format("woff"),url("../webfont/BiancoSans-Bold.otf") format("opentype");
  font-style:normal;font-weight:400;
}




* {
  box-sizing: border-box;
}

$background-color : #fffcfa;
$background-color-light : #EBE8FF;
$primary-color : #725EF8;
$body-color: #333333;
$block-color: #F6F2EF;
$light-color : #86817E;
$divider-color : #EDE5DF;

@mixin divider {
  border-bottom: 1px solid $divider-color;
}

body {
  font-family: "Bianco Sans Regular", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
  color: $body-color;
}


header {
  display: flex;
  padding : 24px;
  justify-content : space-between;
  align-items:baseline;
  align-content:flex-start;

  .brand {
    font-size: 1.2em;
    line-height: 1;
    color : $primary-color;
    text-decoration: none;
    font-family:"Bianco Sans Bold";
  }

  .boardSearch {
    min-width: 368px;
    position : relative;

    input {
      padding-left : 35px;
    }

    .icon {
      position: absolute;
      left : 8px;
      top: 10px;
    }

  }


  .loggedinUserDet {

    .logOut {
      padding: 0;
      border: none;
      background: none;

      font-size : .9em;
      padding-left : 12px;
      color : $primary-color;

      font-family:"Bianco Sans Regular";
    }

    .email {
      font-size: .9em;
      color : $light-color;  
      padding-right: 12px;
      border-right : 1px solid $divider-color;
    }


  }



}


.content-wrap {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
}

.main-list-container {
  margin-top: 100px;
  position: relative;
  width: 100%;


  .main-list_header {
    margin-bottom : 24px;
    display: flex;
    align-items: baseline;


    .title {
      font-family:"Bianco Sans Bold";
      font-size : 1.2em;
      vertical-align: middle;;
    }

    .createBtn {
      margin-left: auto;
      vertical-align: middle;

      background-color : $background-color-light;
      color : $primary-color;
      font-family:"Bianco Sans Regular";
      font-size: .9em;

      border: none;
      border-radius : 4px;
      line-height : 1;
      padding : 12px 16px;
      cursor: pointer;

    }
  }

  .main-list {
    position: relative;
    width: 100%;


    .session-block {

      display: grid;
      grid-template-columns: 1fr .5fr .5fr;
      grid-template-rows: auto;

      padding : 24px 0;
      @include divider();

      .title {
        font-size: 1em;
      }

      .num_board {
        display: block;
        color : $light-color;
      }
      
    }
  }

}


.auth-container {


  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;


  .title {
    font-size : 1.2em;
    color : $body-color;
    margin-bottom : 2em;
  }

  .name-brand {
    font-family:"Bianco Sans Bold";
    color : $primary-color;
  }


  .auth-form {
    max-width: 300px;
    text-align: center;

    input {
      width: 100%;
      font-size: 1em;
      padding : 12px;
      background-color: #F6F2EF;
      border: none;
      border-radius : 4px;
      margin-bottom : 12px; 
      color: $body-color;
      font-family:"Bianco Sans Regular";
    }

    button {
      font-size : .9em;
      color : #fff;
      background-color: $primary-color;
      padding : 12px 24px;
      border: none;
      border-radius : 4px;
      font-family:"Bianco Sans Bold";
      margin-top : 1.5em;

      &:active, &:focus {
        outline: none;
      }
    }


    
  }


  .auth-footnote {
    // text-align: center;
    position: absolute;
    bottom: 0;
    padding: 1em 0;

    button {
      padding: 0;
      font-size: 1em;
      border: none;
      color: $primary-color;
      font-family:"Bianco Sans Bold";
      cursor: pointer;

      &:active, &:focus {
        outline: none;
      }

    }
  }


}


input {
  width : 100%;
  padding-left : 16px;
  padding-top : 8px;
  padding-bottom : 8px;
  padding-right : 16px;


  font-size : .9em;
  color : $light-color;

  border: none;
  border-radius : 4px;
  background-color : $block-color;
  font-family:"Bianco Sans Regular";
}

.modal-container {
  background-color : rgba(0, 0, 0, .2);
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;

  .modal {
    margin-top : 12em;
    width : 350px;
    position: relative;
    background-color : $background-color;
    padding: 32px;
    border-radius : 8px;
    text-align : right;

    label {
      display: block;
      font-size : .9em;
      color : $body-color;
      text-align: left;
    }

    input {
      width: 100%;
      margin-top : 16px;
      margin-bottom : 16px;
    }

    button {
      background : none;
      border: none;
      padding: 0;
      font-family:"Bianco Sans Bold";
      font-size: .9em;
      color : $primary-color;
      cursor : pointer;
    }

  }


}



/* general system overrides

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  background-color: #F6F2EF !important;
  color: $body-color !important;
  font: 400 1em system-ui !important;
}

